<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
    <div layout:fragment="siteContent">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <form action="/add-new-application" method="POST">
                            <div class="row">
                                <div class="col-12">
                                    <label>ФИО : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control" name="userName" placeholder="ФИО :" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Курс : </label>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <select class="form-select" name="courseName">
                                        <option th:each="course : ${courseNames}" th:text="${course}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Телефон : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control" name="phone" placeholder="+7-7" onfocus="if (this.value=='') this.value='+7'" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Комментарии : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <textarea name="commentary" class="form-control" rows="5" placeholder="Комментарии" required></textarea>
<!--                                    <input type="number" class="form-control" name="duration" placeholder="Комментарии" required>-->
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-success">Добавить заявку</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
    </div>
</html>