<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
    <div layout:fragment="siteContent">

        <div th:if="${apl.isHandled()}" class="mt-4 text-center">
            <h4 style="color: green">Обработанная заявка</h4>
        </div>
        <div th:unless="${apl.isHandled()}" class="mt-4 text-center">
            <h4 style="color: red">*** Новая необработанная заявка ***</h4>
        </div>




        <div class="row">
                    <div class="col-8 mx-auto">
                            <form action="/save-application" method="POST" th:if="${apl!=null}">
                            <input type="hidden" name="id" th:value="${apl.id}">
                            <div class="row">
                                <div class="col-12">
                                    <label>ФИО : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control"
                                           name="userName" placeholder="ФИО"
                                           th:value="${apl.userName}"
                                           required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Курс : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <select class="form-select" name="courseName">
                                        <option th:each="course : ${courseNames}" th:text="${course}" th:selected="${course == selectedCourse}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Телефон : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control"
                                           name="phone" placeholder="ТЕЛЕФОН"
                                           th:value="${apl.phone}"
                                           required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>Комментарии : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control"
                                           name="commentary" placeholder="КОММЕНТАРИЙ"
                                           th:value="${apl.commentary}"
                                           required>
                                </div>
                            </div>

                                <input type="hidden" name="handled" value="true">


                                <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-success" th:if="${apl.handled == false}">ОБРАБОТАТЬ ЗАЯВКУ</button>
                                    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">УДАЛИТЬ ЗАЯВКУ</button>
                                </div>
                            </div>
                        </form>

                       <!-- Modal -->
                        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:if="${apl!=null}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form th:action="${'/delete-application'}" method="post">
                                        <input type="hidden" name="id" th:value="${apl.id}">
                                        <div class="modal-header">
                                            <h1applications class="modal-title fs-5" id="staticBackdropLabel">Confirm Delete</h1applications>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-center">ВЫ УВЕРЕНЫ?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">НЕТ</button>
                                            <button class="btn btn-danger">ДА</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <h4 th:if="${apl==null}" class="text-center">
                    APPLICATION NOT FOUND
                </h4>
            </div>
        </div>
    </div>
</html>