<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th = "http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">-->
<!--    <div layout:fragment="siteContent">-->

<!--        <div class="container d-flex flex-row justify-content-between">-->
<!--            <div class="row col-md-6 col-lg-6">-->
<!--                <div th:each="apl : ${applications}" >-->
<!--                    <div class="card mb-4">-->
<!--                        <div class="card-body" style="height: 200px; overflow: hidden;">-->
<!--                            <h5 class="card-title text-truncate" th:text="${apl.userName}"></h5>-->
<!--                            <h6 class="card-subtitle mb-2 text-muted" th:text="${apl.courseName}"></h6>-->
<!--                            <p class="card-text" th:text="${apl.commentary}"></p>-->
<!--                            <p class="card-text" th:text="${apl.phone}"></p>-->
<!--                            &lt;!&ndash; <a th:href="@{'/details/' + ${muz.id}}" class="card-link">ПОДРОБНЕЕ</a> &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="d-flex justify-content-between">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div th:each="apl : ${applications}" class="col-md-6 col-lg-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="card mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="card-body" style="height: 200px; overflow: hidden;">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h5 class="card-title text-truncate" th:text="${apl.userName}"></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h6 class="card-subtitle mb-2 text-muted" th:text="${apl.courseName}"></h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="card-text" th:text="${apl.commentary}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="card-text" th:text="${apl.phone}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash; <a th:href="@{'/details/' + ${muz.id}}" class="card-link">ПОДРОБНЕЕ</a> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->





<!--    </div>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <div class="container">
        <div class="row">
            <div th:each="apl : ${applications}" class="col-md-6 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body" style="height: 200px; overflow: hidden;">
                        <h5 class="card-title text-truncate" th:text="${apl.userName}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${apl.courseName}"></h6>
                        <p class="card-text" th:text="${apl.commentary}"></p>
                        <p class="card-text" th:text="${apl.phone}"></p>
                        <!-- <a th:href="@{'/details/' + ${muz.id}}" class="card-link">ПОДРОБНЕЕ</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>


